<div class="row home-buttons">
  <div class="well col-sm-3">
    <h3>Shot - 50 Points</h3>
    <span class="home-icon icon ion-camera"></span>
    <%= form_for @point do |f| %>
      <%= f.hidden_field :activity, :value => "shot" %>
      <%= f.hidden_field :value,  :value => 50 %>
    <%= f.submit "Shot", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="well col-sm-3 col-sm-offset-1">
    <h3>Edited - 50 Points</h3>
    <span class="home-icon icon ion-monitor"></span>
    <%= form_for @point do |f| %>
      <%= f.hidden_field :activity, :value => "edited" %>
      <%= f.hidden_field :value,  :value => 50 %>
    <%= f.submit "Edited", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="well col-sm-3 col-sm-offset-1">
    <h3>Published - 100 Points</h3>
    <span class="home-icon icon ion-upload"></span>
    <%= form_for @point do |f| %>
      <%= f.hidden_field :activity, :value => "published" %>
      <%= f.hidden_field :value,  :value => 100 %>
    <%= f.submit "Published", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
